<body class="signup">
  <div class="middle-wrapper">
    <div class="middle">
      <div class="container">
        <div class="company">Pseudo<span>Shop</span></div>

        <h1>Set up shop. <span>Get paid.</span></h1>

        <p>Open a demo shop and see how easily payments can be activated for your users</p>

        <form method="POST" action="/merchants">
          <label>
            <span>Email</span>
            <input type="email" name="email" class="validate" size=37 value="" required autofocus>
          </label>

          <button class="button primary" type="submit">Get Started<em></em></button>

          <div class="bar">
            <div class="container">
              <ul>
                <li>
                  <div class="select-container">
                    <select name="country_code">
                      <option value="GBR">United Kingdom</option>
                      <option value="USA" selected>United States</option>
                    </select>
                  </div>
                </li>
                <li class="braintree">
                  <div class="braintree-auth">Braintree_auth</div>
                </li>
              </div>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
