<!DOCTYPE html>
<html>
  <head>
    <!-- base template -->
    <title>PseudoShop</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/global.css">
    <script src="https://js.braintreegateway.com/js/braintree-2.21.0.min.js"></script>
    <script src="https://assets.braintreegateway.com/v1/braintree-oauth-connect.js"></script>
    <script type="text/javascript" src="/assets/javascript/vendor/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="/assets/javascript/global.js"></script>
  </body>
</html>
