/* Colors */
$color-primary: #955AED;
$color-dark: #3E3C41;
$color-medium: #707073;
$color-lighter: #CAC6CE;
$color-light: #BBBBBC;
$color-lightest: #F7F6F8;
$color-subtle: #E3E0E6;

/* Timing */
$fast: .1s;
$medium: .4s;
$slow: 1.4s;

$radius: 3px;
